extends ../layouts/application.pug
        
block header
  h1.display-4.fw-bold.mt-4= t('layouts.application.users')

block content
  table.table.table-striped
    thead
      tr
        th= t('views.id')
        th= t('views.users.fullName')
        th= t('views.users.email')
        th= t('views.createdAt')
        th= t('views.actions')
    tbody
      each user in users
        tr
          td= user.id
          td= fn(user)
          td= user.email
          td= formatDate(user.createdAt)
          td
            div(class='d-flex flex-wrap')
              a(class='btn btn-primary me-1' href=`/users/${user.id}/edit`)= t('views.edit')
              +buttonTo(`/users/${user.id}`, 'delete')(class='btn btn-danger' value=t('views.delete'))
