extends ../layouts/index.pug

block prepend header
  - entity = 'statuses'
  - headerPath = 'layouts.application.statuses'

block table
  thead
    tr
      th= t('views.id')
      th= t('views.name')
      th= t('views.createdAt')
      th= t('views.actions')
  tbody
    each taskStatus in statuses
      tr
        td= taskStatus.id
        td= taskStatus.name
        td= formatDate(taskStatus.createdAt)
        td
          .d-flex
            a.btn.btn-primary.me-1(href=`/statuses/${taskStatus.id}/edit`)= t('views.edit')
            +buttonTo(`/statuses/${taskStatus.id}`, 'delete')(class='btn btn-danger' value=t('views.delete'))
