extends ../layouts/application.pug

block header
  h1.display-4.fw-bold.mt-4= t('layouts.application.tasks')

block content
  a.btn.btn-success(href="/tasks/new")= t('views.tasks.create')
  .table-responsive
    table.table.table-borderless.table-striped.mt-5.bg-white
      thead
        tr
          th= t('views.id')
          th= t('views.name')
          th= t('views.tasks.status')
          th= t('views.tasks.creator')
          th= t('views.tasks.executor')
          th= t('views.createdAt')
          th= t('views.actions')
      tbody
        each task in tasks
          tr
            td= task.id
            td
              a(href=`/tasks/${task.id}`)= task.name
            td= task.status
            td= fn(task.creator)
            td= fn(task.executor)
            td= formatDate(task.createdAt)
            td
              .d-flex
                a.btn.btn-primary.me-1(href=`/tasks/${task.id}/edit`)= t('views.edit')
                +buttonTo(`/tasks/${task.id}`, 'delete')(class='btn btn-danger' value=t('views.delete'))
